  <!---->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="index.php?page=homepage">Home</a>
    </li>
    <li class="breadcrumb-item active">Contact Us</li>
</ol>
<!---->
<!--// mian-content -->
<!-- banner -->
<section class="ab-info-main py-5">
    <div class="container py-3">
        <h3 class="tittle text-center"><span class="sub-tittle">Find Us</span> Contact Us</h3>
        <div class="row contact-main-info mt-5">
            <div class="col-md-6 contact-right-content">
                <!--form-->
                <form action="#" method="post">
                    <input type="text"  name="cname" id="cname" placeholder="Name" required="required">
                    <label id="error_name"></label>
                    <input type="email" class="email" name="cemail" id="cemail" placeholder="Email" required="required">
                    <label id="error_email"></label>
                    <input type="text" name="asunto" id="asunto" placeholder="Asunto" required="required"></input>
                    <label id="error_infasun"></label>
                    <textarea name="message" id="message" placeholder="Message" required="required"></textarea>
                    <label id="error_dinfo"></label>
                    <div class="read mt-3">
                        <input type="submit" value="Enviar"  name="send_contact" id="send_contact">
                    </div>
                    <div id="rltsendmessage" style="display: none;"></div>
                </form>
                    <!--//form-->
            </div>
            <div class="col-md-6 contact-left-content">
                <div class="address-con">
                    <h4 class="mb-2"><span class="fa fa-phone-square" aria-hidden="true"></span>Telefono</h4>
                    <p>+34 96 234 56 36</p>
                </div>
                <div class="address-con my-4">
                    <h4 class="mb-2"><span class="fa fa-envelope-o" aria-hidden="true"></span> Email </h4>
                    <p><a href="mailto:mastersport@gmail.com">mastersport@gmail.com</a></p>
                </div>



            </div>

        </div>
        <!-- <div class="map-fo mt-lg-5 mt-4">
            <div class="address-con">
                <div id="mapa"></div>
                   <h4 class="mb-2"><span class="fa fa-map-marker" aria-hidden="true"></span> Location </h4>
               <div id="map"></div>

            </div> -->
        </div>